<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=div, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h2>{{`Rata rata : ${b}`}}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                a: 0,
                b: 0,
                c: 0,
                hasil: 0
            },
            methods: {
                openForm: function() {
                    let rata = 0;
                    for (let i = 1; i <= 10; i++) {
                        this.a = prompt("masukan nilai a");
                        this.hasil = parseInt(this.a) + parseInt(this.hasil)
                        if (parseInt(this.hasil) >= 10) {
                            i = 10;
                        }
                        rata++;
                    }
                    this.a = parseInt(this.hasil)
                    this.b = this.a / rata;
                }
            },
        })
    </script>
</body>

</html>