<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="wrapper">
            <div class="wrapper-label">
                <label for="">name</label>
            </div>
            <input type="text" v-model="nama"></input>
        </div>
        <div class="wrapper">
            <div class="wrapper-label">
                <label for="">address</label>
            </div>
            <input type="text" v-model="alamat"></input>
        </div>
        <div class="wrapper">
            <div class="wrapper-label">
                <label for="">no</label>
            </div>
            <input type="text" v-model="phoneNumber"></input>
            <input v-show="!buttonStatus" type="file" id="file" ref="file" style="margin-bottom: 10px;" @click="uploadData(user.id)">
        </div>
        <div>
            <button v-show="buttonStatus" type="submit" value="Submit" onclick="App.postData()">Submit</button>
            <button v-show="!buttonStatus" type="submit" value="Submit" onclick="App.updateData()">Update</button>
        </div>
        <div v-for='user in data' :key="user.id">
            <table>
                <tr>
                    <td>
                        <img :src="photoDomain + user.photo_profile" width="100" alt="">
                    </td>
                    <td>
                        <b>name</b> :{{user.name}} <br> <b>address</b> :{{user.address}} <br> <b>no</b> :{{user.no_hp}}
                    </td>
                    <td><button @click="editData(user)">Edit</button> <button @click="deleteData(user.id)">Delete</button> <button @click="uploadData(user.id)">Upload</button></td>
                </tr>
            </table>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var App = new Vue({
            el: '#app',
            data: {
                data: [],
                nama: '',
                alamat: '',
                phoneNumber: '',
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                pict: null,
                trackId: null,
                buttonStatus: true,
                baseUrl: 'http://demo-api-vue.sanbercloud.com/api/member'

            },
            computed: {},
            mounted() {
                this.getData()
            },
            methods: {
                getData() {
                    axios.get(this.baseUrl).then((response) => {
                        this.data = response.data.members
                    }).catch((error) => {
                        console.log(error)
                    })
                },
                clearForm() {
                    this.nama = '';
                    this.alamat = '';
                    this.phoneNumber = '';
                    this.trackId = null;
                },
                postData() {
                    let pashData = new FormData();
                    pashData.append('name', this.nama);
                    pashData.append('address', this.alamat);
                    pashData.append('no_hp', this.phoneNumber);
                    axios.post(this.baseUrl, pashData).then((response) => {
                        this.data = response.data.members
                        this.clearForm()
                        this.getData()
                        alert(response.data.message)
                    }).catch((error) => {
                        console.log(error)
                    })

                },
                editData(user) {
                    this.nama = user.name;
                    this.alamat = user.address;
                    this.phoneNumber = user.no_hp;
                    this.trackId = user.id;
                    this.buttonStatus = false;
                },
                updateData() {
                    let id = this.trackId
                    console.log(id)
                    let pashData = new FormData();
                    pashData.append('name', this.nama);
                    pashData.append('address', this.alamat);
                    pashData.append('no_hp', this.phoneNumber);
                    let pamas = {
                        _method: "PUT"
                    }
                    let urlUpdate = `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`
                    const configUpdate = {
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?`,
                        params: {
                            _method: "PUT"
                        },
                        data: pashData
                    }
                    axios.post(urlUpdate, configUpdate.data).then((response) => {
                        this.data = response.data.members
                        this.clearForm()
                        this.getData()
                        alert(response.data.message)
                    }).catch((error) => {
                        console.log(error)
                    })
                },
                uploadData(id) {
                    this.pict = this.$refs.file.files[0];
                    console.log(this.pict)
                    let pashData = new FormData();
                    const datafoto = pashData.append('photo_profile', this.pict);
                    let urlUpdate = `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`
                    axios.post(urlUpdate, datafoto).then((response) => {
                        this.data = response.data.members
                        this.clearForm()
                        this.getData()
                        alert(response.data.message)
                    }).catch((error) => {
                        console.log(error)
                    })
                },
                deleteData(id) {
                    const configDel = {
                        methods: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?`,
                        params: {
                            _method: "DELETE"
                        }
                    }
                    axios.post(configDel.url, configDel.params)
                        .then((response) => {
                            console.log(response.data)
                            this.clearForm()
                            this.getData()
                            alert(response.data.message)
                        }).catch((error) => {
                            console.log(error)
                        })
                },

            }
        })
    </script>
</body>

</html>