<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div id="tambah">
            <input type="text" v-model="isinya"><button @click="tambah">Add</button>
        </div>
        <div style="display: none;" id="edit">
            <input type="text" value=""><button @click="ubah">Edit</button>
        </div>
        <br>
        <div v-for="(dt, index) in show">
            <li>{{ dt.name }}
                <button @click="edit(index, 1)">Edit</button> ||
                <button @click="hapus(index, 1)">Delete</button>
            </li><br>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                isinya: '',
                users: [{
                    name: 'Muhammad Iqbal Mubarok'
                }, {
                    name: 'Ruby Purwanti'
                }, {
                    name: 'Faqih Muhammad'
                }]
            },
            methods: {
                tambah() {
                    this.users.push({
                        name: this.isinya
                    });
                    this.isinya = ''
                },
                hapus(index) {
                    var yakin = confirm("Anda yakin ?");
                    if (yakin) {
                        this.users.splice(index, 1);
                    }
                },
                edit(index) {
                    document.getElementById('tambah').style.display = 'none';
                    document.getElementById('edit').style.display = 'block';

                },
                ubah(index) {
                    document.getElementById('tambah').style.display = 'block';
                    document.getElementById('edit').style.display = 'none';

                    this.users.splice(index, 1);
                }
            },
            computed: {
                show() {
                    return this.users
                }
            }
        });
    </script>
</body>

</html>