<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="" v-model="search">
        <li v-for="dt in fiturSearch">{{ dt }}</li>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                search: '',
                books: ['Kalkulus Dasar', 'Fisika Dasar', 'Aljabar Linier Elementer', 'Aljabar Abstrak', 'Algoritma Pemrograman'],
            },
            computed: {
                fiturSearch() {
                    return this.books.filter((dt) => {
                        return dt.toLowerCase().match(this.search.toLowerCase())
                    })
                }
            },
        })
    </script>
</body>

</html>